@use '../functions/rem' as *;
@use '../_vars' as *;
@use '../mixins/breakpoint' as *;
@use '../mixins/button' as *;

.btn {
    @include button();

    &--primary {
        background-color: $blue;
    }
    
    &--secondary {
        background-color: $white;
        border: 1px solid $blue;
        color: $blue;
    }

    &--save,
    &--view-saved {
        background: transparent;
        border: 0;
        padding: 0;
    }

    &--view-saved {
        color: $blue;
        font-weight: 300;
        letter-spacing: 0;
        text-transform: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &--save {
        position: relative;
    }

    &--save[data-tooltip]::before {
        bottom: calc(100% + 2px);
        border: .5px solid $blue;
        color: $blue;
        content: attr(data-tooltip);
        font-size: rem(10px);
        left: 0;
        line-height: 1;
        opacity: 0;
        padding: .2rem .3rem;
        pointer-events: none;
        position: absolute;
        transition: opacity 0.2s, transform 0.2s;
        white-space: nowrap;
    }

    &--save[data-tooltip]:hover:before {
        opacity: 1;
    }

    &--save.is-saved {
        // pointer-events: none;
        
        .icon-svg--save {
            fill: $blue;
        }
    }
}

