@use '../functions/rem' as *;
@use '../_vars' as *;
@use '../mixins/breakpoint' as *;
@use '../mixins/button' as *;

.btn {
    @include button();

    &--primary {
        background-color: $blue;
    }
    
    &--secondary {
        background-color: $white;
        border: 1px solid $blue;
        color: $blue;
    }
}
