@use '../functions/rem' as *;
@use '../_vars' as *;
@use '../mixins/breakpoint' as *;
@use '../mixins/button' as *;

.btn {
    @include button();

    &--primary {
        background-color: $blue;
    }
    
    &--secondary {
        background-color: $white;
        border: 1px solid $blue;
        color: $blue;
    }

    &--icon {
        background: transparent;
        border: 0;
        padding: 0;

        svg {
            fill: $grey;
        }
    }

    &--view-saved {
        color: $blue;
        font-weight: 300;
        letter-spacing: 0;
        margin-top: .5rem;
        text-transform: none;

        @include breakpoint(small) {
            margin: .5rem 0 0 0;
            text-align: right;
            width: 100%;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &--save {
        position: relative;

        .icon-svg--save {
            fill: $white;
        }
    }

    &--save[data-tooltip]::before {
        bottom: calc(100% + 2px);
        border: .5px solid $blue;
        color: $blue;
        content: attr(data-tooltip);
        font-size: rem(10px);
        left: 0;
        line-height: 1;
        opacity: 0;
        padding: .2rem .3rem;
        pointer-events: none;
        position: absolute;
        transition: opacity 0.2s, transform 0.2s;
        white-space: nowrap;
    }

    &--save[data-tooltip]:hover:before {
        opacity: 1;
    }

    &--save.is-saved {
        .icon-svg--save {
            fill: $blue;
        }
    }
}

