@use '../functions/rem' as *;
@use '../_vars' as *;
@use '../mixins/breakpoint' as *;

.config {
    .description {
        color: $grey;
        line-height: 1.6;
        list-style: none;
        margin: 0 0 2rem;
        padding: 0;

        li {
            margin-bottom: 0;
        }
    }

    &__actions {
        display: flex;
        gap: 1rem;
    }
}