@use '../functions/rem' as *;
@use '../_vars' as *;
@use '../mixins/breakpoint' as *;

.grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    @include breakpoint(medium) {
        flex-direction: row;
    }
}

.grid__item {
    min-width: rem(200px);
}

@supports (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        &__item {
            display: block;
            width: 100%;
        }

        &--product {
            grid-template-columns: 1fr;
            row-gap: 3rem;

            @include breakpoint(medium) {
                grid-template-columns: 35vw 1fr;
                column-gap: 3rem;
            }
            
            @include breakpoint(large) {
                grid-template-columns: 450px 1fr;
                column-gap: 5rem;
            }
        }
    }
}
