@use '../functions/rem' as *;
@use '../_vars' as *;
@use '../mixins/breakpoint' as *;

.product {
    margin: .5rem auto 6rem;

    @include breakpoint(medium) {
        margin-top: 1.5rem;
    }

    .description {
        color: $grey;
        line-height: 1.6;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 0;
        }
    }
}

.product-image {
    position: sticky;
    text-align: center;
    top: 2rem;
}

.product-actions {
    background-color: $white;
    box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.15);
    padding: 2rem 2rem;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;

    .inner {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        justify-content: flex-end;
        margin: 0 auto;
        max-width: $max-width;
        
        @include breakpoint(small) {
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    .actions {
        display: flex;
        gap: 1rem;

        @include breakpoint(small) {
            flex-direction: row;
        }

        .btn--primary {
            width: 100%;
        }
    }

    .price {
        font-size: rem(18px);
        font-weight: $font-weight-bold;
        margin-right: 2rem;
        text-align: center;

        @include breakpoint(small) {
            text-align: right;
        }
    }
}