@use '../functions/rem' as *;
@use '../_vars' as *;
@use '../mixins/breakpoint' as *;
@use '../mixins/accessible-hide' as *;

.product-option {
    margin: 2rem 0;

    &:last-child {
        margin-bottom: 3rem;
    }

    .label {
        font-size: rem(15px);
        font-weight: $font-weight-semibold;
        margin-bottom: 1rem;

        @include breakpoint(small) {
            margin-bottom: 0;
        }
    }

    .option__label {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: .5rem;
        
        @include breakpoint(small) {
            align-items: center;
            flex-direction: row;
        }
    }
}

.options {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    margin-top: 1rem;
    
    @include breakpoint(small) {
        align-items: stretch;
        flex-direction: row;
        gap: .5rem;
    }

    .price-badge {
        color: rgba($grey, .8);
        font-size: rem(12px);
        font-weight: 300;
        line-height: 1;
        transition: all 0.3s ease-in-out;
        
        @include breakpoint(small) {
            display: block;
            margin-top: .5rem;
        }
    }
}

.option-btn {
    align-items: center;
    background-color: transparent;
    border: 1px solid $grey-light;
    border-radius: rem(8px);
    display: flex;
    font-size: rem(15px);
    justify-content: space-between;
    outline: 1px solid transparent;
    padding: 1rem;
    text-align: left;
    transition: all 0.3s ease-in-out;
    width: 100%;
    
    @include breakpoint(small) {
        align-items: start;
        flex-direction: column;
    }

    &.active {
        border-color: $blue;
        outline-color: $blue;
    }

    &.active:hover {
        border-color: $blue;
    }

    &:hover {
        border-color: $grey-dark;
    }
}

.selected-name {
    color: $grey-dark;
    font-size: rem(12px);
    font-weight: $font-weight-regular;
    margin-left: 1ch;
}

.product-option--color {
    .options {
        flex-direction: row;
        gap: 1rem;
    }
    .name {
        @include accessible-hide();
    }

    .option-btn {
        border: 3px solid $white;
        border-radius: 50%;
        height: rem(40px);
        outline: 1.5px solid transparent;
        overflow: hidden;
        padding: 0;
        width: rem(40px);

        &:hover {
            border-color: $white;
            outline-color: rgba($grey, .2);
        }

        &.active {
            border-color: $white;
            outline-color: $blue;
        }
    }

    .color-swatch {
        display: inline-block;
        height: 100%;
        width: 100%;
    }
}

.product-option--screenSize {
    .option-btn {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        min-width: 160px;
        width: auto;

        .price-badge {
            margin-top: 0;
        }
    }
}
