@use '../functions/rem' as *;
@use '../_vars' as *;
@use '../mixins/breakpoint' as *;
@use '../mixins/accessible-hide' as *;

.product-option {
    margin: 2rem 0;

    .label {
        font-size: rem(15px);
        font-weight: $font-weight-semibold;
        margin: 0;
    }

    .option__label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: .5rem;
    }
}

.options {
    align-items: stretch;
    display: flex;
    gap: .5rem;
    margin-top: 1rem;
}

.option-btn {
    background-color: transparent;
    border: 1px solid $grey-light;
    border-radius: rem(8px);
    padding: 1rem;

    &.active {
        border-color: $black;
    }
}

.selected-name {
    color: $grey-dark;
    font-size: rem(12px);
    font-weight: $font-weight-regular;
    margin-left: 1ch;
}

.product-option--color {
    .options {
        gap: 1rem;
    }
    .name {
        @include accessible-hide();
    }

    .option-btn {
        border: 3px solid $white;
        border-radius: 50%;
        height: rem(40px);
        outline: 1px solid transparent;
        overflow: hidden;
        padding: 0;
        width: rem(40px);

        &.active {
            outline-color: $black;
        }
    }

    .color-swatch {
        display: inline-block;
        height: 100%;
        width: 100%;
    }
}

