

.slider {
    &--thumbs {
        overflow: hidden;
        position: relative;

        .swiper-wrapper {
            display: flex;
        }

        .swiper-slide {
            flex-shrink: 0;
            width: 100%;
            height: 100%;
            position: relative;
            transition-property: transform;
            display: block;

            aspect-ratio: 1.45;
            cursor: pointer;
        }
    }
}