@use '../functions/rem' as *;
@use '../_vars' as *;
@use '../mixins/breakpoint' as *;

.slider {
    &--thumbs {
        overflow: hidden;
        position: relative;

        .swiper-wrapper {
            display: flex;
        }

        .swiper-slide {
            border: .5px solid rgba($grey-light, .7);
            cursor: pointer;
            display: block;
            flex-shrink: 0;
            height: 100%;
            position: relative;
            transition-property: transform;
            width: 100%;
        }
    }
}