@use '../functions/rem' as *;
@use '../_vars' as *;
@use '../mixins/breakpoint' as *;

.header {
    max-width: $max-width;
    margin: 0 auto;
    padding: 1rem;
}

.preheader {
    background-color: $black;
    color: $white;
    font-size: rem(12px);
    padding: .5rem 2rem;
    text-align: center;
}

.logo {
    font-size: rem(16px);
    font-weight: $font-weight-bold;
    letter-spacing: .011em;
    align-items: center;
    display: flex;
    line-height: 1;
    margin-bottom: 0;

    .icon-svg--logo {
        margin: 0 .5rem 2px 0;
    }
}
