@use '../vars' as *;
@use '../functions/rem' as *;
@use 'sass:color';

@mixin button() {
    background-color: $blue;
    border: 1px solid $blue;
    border-radius: rem(8px);
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: rem(12px);
    font-weight: $font-weight-medium;
    letter-spacing: rem(.3px);
    line-height: 1;
    padding: .5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    transition: all .4s ease-in-out;

    &:hover {
        text-decoration: none;
    }
}
