@use '../vars' as *;
@use '../functions/rem' as *;
@use 'sass:color';

@mixin button() {
    background-color: rgba($white, .3);
    border: 0;
    box-shadow: 0 .4rem .6rem rgba(0, 0, 0, 0);
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: rem(12px);
    font-weight: $font-weight-medium;
    letter-spacing: rem(.3px);
    line-height: 1;
    padding: rem(12px) 2rem;
    text-align: center;
    text-transform: uppercase;
    transition: all .4s ease-in-out;

    &:hover {
        text-decoration: none;
    }
}
